<!DOCTYPE html>
<html>

<head>
    <title>Student Dashboard</title>
</head>

<body>

<h1>Your Classes</h1>

<table border="1">

<tr>
<th>Course</th>
<th>Date</th>
<th>Time</th>
</tr>

{% for class in classes %}

<tr>
<td>{{ class[1] }}</td>
<td>{{ class[2] }}</td>
<td>{{ class[3] }}</td>
</tr>

{% endfor %}

</table>

<br>

<a href="{{ url_for('reserve_class') }}">Reserve New Class</a>



<table border="1">

<tr>
<th>Course</th>
<th>Date</th>
<th>Time</th>
<th>Action</th>
</tr>

{% for class in classes %}

<tr>
<td>{{ class[1] }}</td>
<td>{{ class[2] }}</td>
<td>{{ class[3] }}</td>

<td>
<a href="{{ url_for('cancel_class', booking_id=class[0]) }}">
Cancel
</a>
</td>

</tr>

{% endfor %}

</table>

</body>

</html>
